img{
	max-width:100% !important;
}
.tall-padding{
	padding: 10px 5px;
}
.right-space{
	margin-right: 1em;
}
.payment-btn{
	border-radius:3px;
	border:none;
	color:#FFFFFF;
	padding:0.5em 1em;
	outline:none;
}
a:hover{
	color: #DAA520 !important;
}
.close-parent{
	cursor:pointer;
}
.paypal-btn{
	background-color:#000000;
}
.card-btn{
	background-color:#DAA520;
}